* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

.limitar-secao {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
}

.container-topo {
    background-color: #fff;
    padding: 35px 50px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
}

.container-logo {
    width: 285px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container-links {
    width: 385px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
}

.container-links a {
    font-weight: 600;
    font-size: 16px;
    color: #233032;
}

.container-logo-imagem {
    width: 90px;
    height: 90px;
    
}

.container-logo-imagem img {
    width: 100%;
    height: 100%;
}

.container-logo h1 {
    font-size: 32px;
    color: #000000;
}

.container-logo p {
    font-size: 14px;
    font-weight: 600;
    color: #2f86d6;
}

.secao-banner {
    background-color: #2f86d6;
    padding: 50px 0px;
}

.container-banner {
    display: flex;
    flex-wrap: wrap;
}

.container-texto {
    color: #fff;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    flex: 1 1 300px;
}

.container-imagem {
    flex: 1 1 468px;
}

.container-texto h2 {
    font-size: 28px;
}

.container-texto p {
    font-size: 16px;
}

/*Seção Primeiro Anúncio */
.container-primeiro-anuncio {
    background-color: #233032;
    color: #fff;
    padding: 40px 0px;
    
}

.primeiro-anuncio-itens {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.primeiro-anuncio-textos h2 {
    font-size: 24px;
    margin-bottom: 5px;
}

.primeiro-anuncio-textos p {
    font-size: 16px;
}

.primeiro-anuncio-imagem a {
    background-color: #2f86d6;
    padding: 10px 15px;
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.primeiro-anuncio-imagem img {
    width: 13px
}

.secao-informacao {
    padding: 35px 0px;
    text-align: center;
    
}

.secao-informacao h2 {
    width: 900px;
    font-size: 32px;
    margin: 0px auto 0px;
}

.secao-informacao span {
    color: #2f86d6;
}

.cards {
    display: flex;
    justify-content: space-around;
    
}

.card {
    width: 33%;
    padding: 10px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 30px;
    
}

.card img {
    width: 100px;
}

.card h3 {
    font-size: 18px;
    color: #000000;
}

.card p {
    font-size: 15px;
}

/*Seção Planos */
.container-planos {
    padding: 100px 0px;
    background-color: #f1f3f7;
}

.container-planos h2 {
    text-align: center;
    margin-bottom: 70px;
    font-size: 32px;
}

.container-planos span {
    color: #2f86d6;
}

table {
    border-radius: 4px;
    margin: auto;
    box-shadow: 0px 2px 40px 15px rgba(47,134,214,1);
}

table thead th {
    text-align: center;
    padding: 20px 0px;
    background-color: #fff;
}

table thead th h3 {
    margin-bottom: 20px;
}

table thead th img {
    width: 100px;
    margin: auto;
}

table thead th p {
    max-width: 150px;
    margin: auto;
    padding-top: 10px;
    font-size: 13px;
    font-weight: 500;
    color: #a89f9f;
}

table tbody td {
    width: 250px;
    max-width: 1024px;
    text-align: center;
    font-weight: 500;
    padding: 15px;
}
table tbody tr:nth-child(odd) {
    font-size: 16px;
    background-color: #f6f6f6;
}

table tbody tr:nth-child(even) {
    font-size: 16px;
    background-color: #fff;
}
